.innovation{
  height: 745px;
  max-width: 1920px;
  margin: 0 auto;
  overflow: hidden;
}

.innovation-title{
  font-family: $font;
  font-style: normal;
  font-weight: 300;
  font-size: 72px;
  line-height: 130%;
  text-align: center;
  color: #FFFFFF;
  margin-top: 100px;
}

.innovation-img{
  margin-top: 60px;
  width: auto;
}
